@import url("https://fonts.googleapis.com/css2?family=poppins")
{
	margins: 5;
	padding: 5;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}
body{
	display: flex;
	min height:100vh;
	justify-content:center;
	align-items:center;
	background:#ADD8E6;
}
.container{
	width: 600px
}
.entryarea{
	position: relative;
	height: 40px;0px;
	line-height:100 px;
}
input{
	position: absolute;
	Width:	100%
	outline: none;
	Font-size: 2.5em;
	padding: 0 30px;
	line-height: 100px;
	border-radius: 5px;
	border: 3px solid #ADD8E6;
	background: transparent;
	transition: 0.1s ease
	z-index: 1111;
}
.labelline{
	position: absolute;
	font-size: 1.6em
	color: #800080;
	padding: 0px;
	margin: 0 20px;
	background-color: #ADD8E6;
	transition: 0.2s ease;
}
input:focus,
input:valid{
	color:#000000;
	border: 4px solid #000000;
}
input:focus + .labelline,
input:valid + .labelline{
	color: #000000;
	height: 5px;
	line-height: 1px;
	padding: 0 30px;
	transform: translate (+15px,+16px) scale(0.99);
	z-index: 1111;
}
h1{
	display: flex;
	padding: 5;
	font-family: 'poppins', sans-serif;
  	position: absolute;
 	top: 25px;
 	left: 600px;
	Font-size: 50px;
}
.dropbtn{
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;
}
.dropdown:hover .dropdown-content {display: block;
}
.dropdown:hover .dropbtn {background-color: #728FCE;
}
  .submit-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: right;
    background-color: #f9f9f9;
    width: 200px;
  }

  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .submit-button:hover {
    background-color: #45a049;
  }
